* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.max-w-7xl {
  max-width: 80rem;
}

.aboutBengal {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.sm\:px-6 {
  @apply px-6;
}

.lg\:px-8 {
  @apply px-8;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.text-4xl {
  font-size: 2.25rem;
}

.font-bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-zinc-700 {
  color: #000000;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.md\:flex-row {
  @apply flex-row;
}

.justify-center {
  justify-content: center;
}

.gap-8 {
  gap: 2rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.rounded-full {
  border-radius: 9999px;
}

.mb-4 {
  margin-bottom: 1rem;
}

.text-xl {
  font-size: 1.25rem;
}

.font-semibold {
  font-weight: 600;
}

.font-medium {
  font-weight: 500;
}

.text-zinc-800 {
  color: #1d1d1d;
}

.mt-4 {
  margin-top: 1rem;
}

.bg-blue-500 {
  background-color: #3b82f6;
}

.hover\:bg-blue-700:hover {
  background-color: #1d4ed8;
}

.text-white {
  color: #fff;
}

.font-bold {
  font-weight: 700;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.rounded {
  border-radius: 0.25rem;
}

.viewPage-btn {
  background-color: #3300ff;
  color: #fff;
  padding: 0.6rem 1.2rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}

.back-to-edit-btn {
  background-color: #00a6ff;
  color: #fff;
  padding: 0.6rem 1.2rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}

.oldAboutBengal {
  display: flex;
}

.oldAboutBengal-Header {
  width: 300px;
  text-align: justify;
}

.old-about-bengal-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.old-about-bengal-card {
  width: 300px;
  height: 350px;
  background-color: #f3f4f6;
  border-radius: 0.25rem;
  margin: 0 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
